*,
*:before, *:after {
  box-sizing: border-box;
}
body {
  background-image: url("../imeges/background.jpg");
  font-family: Roboto;
  font-weight: 400;
  color: #ffffff;
}
.wrapp {
  max-width: 1396px;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
a:hover {
  color: #f26522;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  width: 1028px;
  height: 61px;
  margin: 46px auto 17px auto;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 0.3s;
  }
  .logo svg {
    fill: currentColor;
  }
.logo img {
  display: block;
  width: 53px;
  height: 47px;
  
}
.logo span {
  display: block;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  margin-left: 8px;
}
.logo small {
    display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.contact-info {
  font-size: 18px;
  line-height: 18px;
}
.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: 37px 62px;
  width: 1030px;
  margin: 0 auto;
}
.service img {
  width: 300px;
  height: 220px;
  border: 4px solid transparent;
  background: linear-gradient(60deg, black, white) border-box;
}
h3 {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.tour {
  display: block;
}
.tour-img {
  position: relative;
  line-height: 0;
  overflow: hidden;
}
.tour-img img {
  transition: 0.3s;
}
.tour-img:hover img {
  scale: 1.1;
  
}
.tour:hover .tour-overlay {
  opacity: 1;
  transform: translateY(0);
}
.tour-overlay {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 7px 16px;
  background: #f26522;
  color: #ffffff;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s;
}
.tour-overlay-price {
  font-size: 20px;
  line-height: 20px;
}
.tour-overlay-price small {
  display: block;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 10px;
}
.tour-overlay-details {
  font-size: 14px;
  line-height: 14px;
}
.tour-overlay-details::after {
  content: ">";
  margin-left: 16px;
}
p {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  margin-top: 49px;
  margin-bottom: 15px;
}
